// _variables.scss

// Light mode variables
$light-background-color: #F7F9F2;
$light-primary-text-color: #4682A9;
$light-secondary-color-text-color: #151515;

// Dark mode variables
$dark-background-color: #1E201E;
$dark-primary-text-color: #939185;
$dark-secondary-color-text-color: #FFFF;

// Other common variables
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$spacing-unit: 8px;
